# build & deps
node_modules/
dist/
.next/
out/
.astro/
.output/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp

# misc
.cache/
*.local
*.tsbuildinfo
